In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
df1 = pd.read_excel('總資料整理1.xlsx')
df2 = pd.read_excel('總資料整理2.xlsx')
df3 = pd.read_excel('總資料整理3.xlsx')
df4 = pd.read_excel('總資料整理4.xlsx')
df5 = pd.read_excel('總資料整理5.xlsx')

In [3]:
df = pd.concat([df1, df2, df3, df4, df5], axis = 0)

In [4]:
df.類別.unique()

array(['娛樂', '生活', '社會', '政治', '財經', '國際', '體育'], dtype=object)

In [5]:
A=[]
A=df['標題']

In [6]:
B=[]
a=0
for i in A:
    B.append(list(i))
    a=a+1
    print(a,end='\r'),

In [7]:
import re

In [8]:
r1 = u'[a-zA-Z0-9’!"#$%&\'()*+,-./:;<=>?@，。?★、…【】〈〉～「」é；《》？“”‘’！[\\]^_`{|}~]+'
r2 = "[\s+\.\!\/_,$%^*(+\"\']+|[+——！，。？、~@#￥%……&*（）]+"
r3 =  "[.!//_,$&%^*()<>+\"'?@#-|:~{}]+|[——！\\\\，。=？、：“”‘’《》【】￥……（）]+"
r4 =  "\\【.*?】+|\\《.*?》+|\\#.*?#+|[.!/_,$&%^*()<>+""'?@|:~{}#]+|[——！\\\，。=？、：“”‘’￥……（）《》【】]"

In [9]:
A1=[]
for i in A:
    i=re.sub(r1,'',i)
    A1.append(i)

In [10]:
A2=[]
for i in A1:
    i=re.sub(r2,'',i)
    A2.append(i)

In [11]:
A3=[]
for i in A2:
    i=re.sub(r3,'',i)
    A3.append(i)

In [12]:
A4=[]
for i in A3:
    i=re.sub(r4,'',i)
    A4.append(i)

In [13]:
A4[0]

'原創鄧超彭于晏相約看球賽對鏡頭互做鬼臉二人彼此調侃友誼深厚'

In [14]:
L = list(df['label'])

In [15]:
dfu = pd.DataFrame({'label' : L,
                                'title' : A4}, 
                                columns=['label','title'])

In [16]:
dfu['words'] = dfu['title'].apply(lambda x: re.findall('[\x80-\xff]{3}|[\w\W]', x))

In [17]:
dfu.head()

,label,title,words
0,1,原創鄧超彭于晏相約看球賽對鏡頭互做鬼臉二人彼此調侃友誼深厚,"[原, 創, 鄧, 超, 彭, 于, 晏, 相, 約, 看, 球, 賽, 對, 鏡, 頭, ..."
1,1,孫東雲將註銷帳號月日入伍服兵役,"[孫, 東, 雲, 將, 註, 銷, 帳, 號, 月, 日, 入, 伍, 服, 兵, 役]"
2,1,王小帥朋友圈是什麼情況王小帥朋友圈發了什麼內容,"[王, 小, 帥, 朋, 友, 圈, 是, 什, 麼, 情, 況, 王, 小, 帥, 朋, ..."
3,1,楊明逸大雪焚心殺青最慘富二代為愛入局,"[楊, 明, 逸, 大, 雪, 焚, 心, 殺, 青, 最, 慘, 富, 二, 代, 為, ..."
4,1,樂基兒挺八月孕肚腳踩恨天高與閨蜜大跳熱舞組圖,"[樂, 基, 兒, 挺, 八, 月, 孕, 肚, 腳, 踩, 恨, 天, 高, 與, 閨, ..."

In [18]:
all_words = []
for w in dfu['words']:
    all_words.extend(w)
word_dict = pd.DataFrame(pd.Series(all_words).value_counts())
word_dict['id'] = list(range(1, len(word_dict)+1))

In [19]:
word_dict

         0    id
國    72763     1
人    69210     2
大    65927     3
的    58807     4
美    57337     5
中    53116     6
一    42670     7
不    42647     8
年    42202     9
日    35110    10
新    31147    11
女    29646    12
出    28172    13
會    27743    14
被    27061    15
賽    25542    16
台    25370    17
高    25266    18
上    24586    19
生    24275    20
球    23883    21
子    23763    22
家    23088    23
成    23056    24
有    22913    25
是    22589    26
小    22292    27
最    22253    28
法    22180    29
網    22122    30
..     ...   ...
坏        1  6484
僂        1  6485
甑        1  6486
砝        1  6487
顶        1  6488
辖        1  6489
歭        1  6490
賁        1  6491
娄        1  6492
噻        1  6493
摰        1  6494
眅        1  6495
矓        1  6496
畯        1  6497
ｋ        1  6498
眭        1  6499
箎        1  6500
㵘        1  6501
畬        1  6502
ね        1  6503
翥        1  6504
鐙        1  6505
嘜        1  6506
å²      1  6507
簌        1  6508
堺        1  6509
岜        1  6510
鏹        1  6511
联        1  6512
¢å¸      1  6513

[6513 rows x 2 columns]

In [20]:
dfu['wordidlist'] = dfu['words'].apply(lambda x: list(word_dict['id'][x]))

In [21]:
dfu.head()

,label,title,words,wordidlist
0,1,原創鄧超彭于晏相約看球賽對鏡頭互做鬼臉二人彼此調侃友誼深厚,"[原, 創, 鄧, 超, 彭, 于, 晏, 相, 約, 看, 球, 賽, 對, 鏡, 頭, ...","[239, 178, 1142, 191, 1525, 2489, 2844, 253, 3..."
1,1,孫東雲將註銷帳號月日入伍服兵役,"[孫, 東, 雲, 將, 註, 銷, 帳, 號, 月, 日, 入, 伍, 服, 兵, 役]","[994, 170, 655, 47, 2456, 642, 1476, 646, 84, ..."
2,1,王小帥朋友圈是什麼情況王小帥朋友圈發了什麼內容,"[王, 小, 帥, 朋, 友, 圈, 是, 什, 麼, 情, 況, 王, 小, 帥, 朋, ...","[48, 27, 977, 1407, 113, 762, 26, 557, 294, 13..."
3,1,楊明逸大雪焚心殺青最慘富二代為愛入局,"[楊, 明, 逸, 大, 雪, 焚, 心, 殺, 青, 最, 慘, 富, 二, 代, 為, ...","[460, 92, 2538, 3, 704, 2389, 71, 299, 487, 28..."
4,1,樂基兒挺八月孕肚腳踩恨天高與閨蜜大跳熱舞組圖,"[樂, 基, 兒, 挺, 八, 月, 孕, 肚, 腳, 踩, 恨, 天, 高, 與, 閨, ...","[241, 270, 175, 827, 479, 84, 980, 1767, 1093,..."

In [22]:
maxn = 0

for i in dfu['wordidlist']:
    if len(i) > maxn:
        maxn = len(i)

print(maxn)

56

In [23]:
from keras.preprocessing import sequence

Using TensorFlow backend.

In [24]:
maxlen = 25
dfu['wordidlist'] = list(sequence.pad_sequences(dfu['wordidlist'], maxlen=maxlen))

In [25]:
from keras.utils import np_utils
from keras.models import Sequential
from keras.layers import Dense, Activation
import keras.optimizers

In [26]:
from sklearn.model_selection import train_test_split

In [27]:
X = np.array(list(dfu['wordidlist']))
Y = np.array(list(dfu['label']))

In [28]:
Y[1]

1

In [29]:
x_train, x_test, y_train, y_test = train_test_split(X,Y, test_size=0.3, random_state = 508)

In [30]:
y_train = np_utils.to_categorical(y_train)
y_test = np_utils.to_categorical(y_test)

In [31]:
y_train.shape

(341292, 8)

In [32]:
from keras.layers import Embedding, LSTM, Dropout

In [34]:
model = Sequential()
model.add(Embedding(len(word_dict)+1, 256))
model.add(LSTM(128, return_sequences=True))
model.add(LSTM(128))
model.add(Dense(y_train.shape[1]))
model.add(Activation('softmax'))
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_2 (Embedding)      (None, None, 256)         1667584
_________________________________________________________________
lstm_3 (LSTM)                (None, None, 128)         197120
_________________________________________________________________
lstm_4 (LSTM)                (None, 128)               131584
_________________________________________________________________
dense_1 (Dense)              (None, 8)                 1032
_________________________________________________________________
activation_1 (Activation)    (None, 8)                 0
=================================================================
Total params: 1,997,320
Trainable params: 1,997,320
Non-trainable params: 0
_________________________________________________________________

In [35]:
model.fit(x_train, y_train, batch_size=1000, epochs=5)

WARNING:tensorflow:From D:\Anaconda\lib\site-packages\tensorflow\python\ops\math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Epoch 1/5
341292/341292 [==============================] - 116s 340us/step - loss: 0.7966 - acc: 0.7057
Epoch 2/5
341292/341292 [==============================] - 98s 288us/step - loss: 0.5599 - acc: 0.7965
Epoch 3/5
341292/341292 [==============================] - 98s 288us/step - loss: 0.5262 - acc: 0.8072
Epoch 4/5
341292/341292 [==============================] - 98s 288us/step - loss: 0.5024 - acc: 0.8157
Epoch 5/5
341292/341292 [==============================] - 98s 288us/step - loss: 0.4809 - acc: 0.8219

In [36]:
score = model.evaluate(x_test, y_test)
print('loss:', score[0])
print('正確率', score[1])

146269/146269 [==============================] - 84s 572us/step
loss: 0.53311475461
正確率 0.803916072447

In [37]:
from ipywidgets import interact_manual

In [38]:
predict = model.predict_classes(x_test)

In [39]:
def test(num):
    print(int(np.dot(y_test[num], [0, 1, 2, 3, 4, 5, 6, 7])))
    print('神經網路判斷為:', predict[num])

In [40]:
interact_manual(test, num=(0, len(y_test)-1))

A Jupyter Widget

In [41]:
model_json = model.to_json()
open('my_model_2RNN.json', 'w').write(model_json)
model.save_weights('my_model_weights_2RNN.h5')