In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import locale
import matplotlib as mpl
mpl.rc('font', family = 'Noto Sans CJK TC')

In [2]:
df = pd.read_csv('http://stats.moe.gov.tw/files/detail/107/107_students.csv')
colname = df.loc[1].values
df = df[2:]
df.columns = colname
ntu = df[(df['學校名稱'] == '國立臺灣大學') & (df['等級別'] == 'B 學士')]
ntu2 = ntu.loc[:, '科系名稱':'四年級女生'].copy()
ntu2 = ntu2.replace('-', '0')

In [3]:
ntu2['總計'] = ntu2['總計'].apply(locale.atof)
ntu2['男生計'] = ntu2['男生計'].apply(locale.atof)
ntu2['女生計'] = ntu2['女生計'].apply(locale.atof)
ntu2['一年級男生'] = ntu2['一年級男生'].apply(locale.atof)
ntu2['一年級女生'] = ntu2['一年級女生'].apply(locale.atof)
ntu2['二年級男生'] = ntu2['二年級男生'].apply(locale.atof)
ntu2['二年級女生'] = ntu2['二年級女生'].apply(locale.atof)
ntu2['三年級男生'] = ntu2['三年級男生'].apply(locale.atof)
ntu2['三年級女生'] = ntu2['三年級女生'].apply(locale.atof)
ntu2['四年級男生'] = ntu2['四年級男生'].apply(locale.atof)
ntu2['四年級女生'] = ntu2['四年級女生'].apply(locale.atof)

In [4]:
ntu_pdict = {
    "科系名稱": ntu2['科系名稱'],
    "總計": ntu2.總計
}

ntu_pdf = pd.DataFrame(ntu_pdict)
ntu_pdf = ntu_pdf[['科系名稱', '總計']]

In [5]:
ntu_dict = {
    "科系名稱": ntu2['科系名稱'],
    "女男比例": ntu2.女生計/ntu2.男生計,
    "一年級女男比例": ntu2.一年級女生/ntu2.一年級男生,
    "二年級女男比例": ntu2.二年級女生/ntu2.二年級男生,
    "三年級女男比例": ntu2.三年級女生/ntu2.三年級男生,
    "四年級女男比例": ntu2.四年級女生/ntu2.四年級男生
}

ntu_df = pd.DataFrame(ntu_dict)
ntu_df = ntu_df[['科系名稱', '女男比例','一年級女男比例','二年級女男比例','三年級女男比例','四年級女男比例']]

In [6]:
ntu_rdict = {
    "科系名稱": ntu2['科系名稱'],
    "男女比例": ntu2.男生計/ntu2.女生計,
    "一年級男女比例": ntu2.一年級男生/ntu2.一年級女生,
    "二年級男女比例": ntu2.二年級男生/ntu2.二年級女生,
    "三年級男女比例": ntu2.三年級男生/ntu2.三年級女生,
    "四年級男女比例": ntu2.四年級男生/ntu2.四年級女生
}

ntu_rdf = pd.DataFrame(ntu_rdict)
ntu_rdf = ntu_rdf[['科系名稱', '男女比例','一年級男女比例','二年級男女比例','三年級男女比例','四年級男女比例']]

In [7]:
ntu_mdict = {
    "科系名稱": ntu2['科系名稱'],
    "男生計": ntu2.男生計,
    "一年級男生": ntu2.一年級男生,
    "二年級男生": ntu2.二年級男生,
    "三年級男生": ntu2.三年級男生,
    "四年級男生": ntu2.四年級男生
}

ntu_mdf = pd.DataFrame(ntu_mdict)
ntu_mdf = ntu_mdf[['科系名稱', '男生計','一年級男生','二年級男生','三年級男生','四年級男生']]

In [8]:
ntu_fdict = {
    "科系名稱": ntu2['科系名稱'],
    "女生計": ntu2.女生計,
    "一年級女生": ntu2.一年級女生,
    "二年級女生": ntu2.二年級女生,
    "三年級女生": ntu2.三年級女生,
    "四年級女生": ntu2.四年級女生
}

ntu_fdf = pd.DataFrame(ntu_fdict)
ntu_fdf = ntu_fdf[['科系名稱', '女生計','一年級女生','二年級女生','三年級女生','四年級女生']]

In [9]:
ntu_pdf0 = ntu_pdf.sort_values(by = ['總計'], ascending=False)
ntu_pdf0.index = pd.RangeIndex(start = 1, stop = len(ntu_pdf0) + 1)

In [10]:
ntu_df0 = ntu_df.sort_values(by = ['女男比例'], ascending=False)
ntu_df1 = ntu_df.sort_values(by = ['一年級女男比例'], ascending=False)
ntu_df2 = ntu_df.sort_values(by = ['二年級女男比例'], ascending=False)
ntu_df3 = ntu_df.sort_values(by = ['三年級女男比例'], ascending=False)
ntu_df4 = ntu_df.sort_values(by = ['四年級女男比例'], ascending=False)
ntu_df0.index = pd.RangeIndex(start = 1, stop = len(ntu_df0) + 1)
ntu_df1.index = pd.RangeIndex(start = 1, stop = len(ntu_df1) + 1)
ntu_df2.index = pd.RangeIndex(start = 1, stop = len(ntu_df2) + 1)
ntu_df3.index = pd.RangeIndex(start = 1, stop = len(ntu_df3) + 1)
ntu_df4.index = pd.RangeIndex(start = 1, stop = len(ntu_df4) + 1)

In [11]:
ntu_rdf0 = ntu_rdf.sort_values(by = ['男女比例'], ascending=False)
ntu_rdf1 = ntu_rdf.sort_values(by = ['一年級男女比例'], ascending=False)
ntu_rdf2 = ntu_rdf.sort_values(by = ['二年級男女比例'], ascending=False)
ntu_rdf3 = ntu_rdf.sort_values(by = ['三年級男女比例'], ascending=False)
ntu_rdf4 = ntu_rdf.sort_values(by = ['四年級男女比例'], ascending=False)
ntu_rdf0.index = pd.RangeIndex(start = 1, stop = len(ntu_df0) + 1)
ntu_rdf1.index = pd.RangeIndex(start = 1, stop = len(ntu_df1) + 1)
ntu_rdf2.index = pd.RangeIndex(start = 1, stop = len(ntu_df2) + 1)
ntu_rdf3.index = pd.RangeIndex(start = 1, stop = len(ntu_df3) + 1)
ntu_rdf4.index = pd.RangeIndex(start = 1, stop = len(ntu_df4) + 1)

In [12]:
ntu_mdf0 = ntu_mdf.sort_values(by = ['男生計'], ascending=False)
ntu_mdf1 = ntu_mdf.sort_values(by = ['一年級男生'], ascending=False)
ntu_mdf2 = ntu_mdf.sort_values(by = ['二年級男生'], ascending=False)
ntu_mdf3 = ntu_mdf.sort_values(by = ['三年級男生'], ascending=False)
ntu_mdf4 = ntu_mdf.sort_values(by = ['四年級男生'], ascending=False)
ntu_mdf0.index = pd.RangeIndex(start = 1, stop = len(ntu_mdf0) + 1)
ntu_mdf1.index = pd.RangeIndex(start = 1, stop = len(ntu_mdf1) + 1)
ntu_mdf2.index = pd.RangeIndex(start = 1, stop = len(ntu_mdf2) + 1)
ntu_mdf3.index = pd.RangeIndex(start = 1, stop = len(ntu_mdf3) + 1)
ntu_mdf4.index = pd.RangeIndex(start = 1, stop = len(ntu_mdf4) + 1)

In [13]:
ntu_fdf0 = ntu_fdf.sort_values(by = ['女生計'], ascending=False)
ntu_fdf1 = ntu_fdf.sort_values(by = ['一年級女生'], ascending=False)
ntu_fdf2 = ntu_fdf.sort_values(by = ['二年級女生'], ascending=False)
ntu_fdf3 = ntu_fdf.sort_values(by = ['三年級女生'], ascending=False)
ntu_fdf4 = ntu_fdf.sort_values(by = ['四年級女生'], ascending=False)
ntu_fdf0.index = pd.RangeIndex(start = 1, stop = len(ntu_fdf0) + 1)
ntu_fdf1.index = pd.RangeIndex(start = 1, stop = len(ntu_fdf1) + 1)
ntu_fdf2.index = pd.RangeIndex(start = 1, stop = len(ntu_fdf2) + 1)
ntu_fdf3.index = pd.RangeIndex(start = 1, stop = len(ntu_fdf3) + 1)
ntu_fdf4.index = pd.RangeIndex(start = 1, stop = len(ntu_fdf4) + 1)

In [14]:
def f1():
    ntu_pdf0[:20].plot.bar(x = '科系名稱', y= ['總計'])
    display(ntu_pdf0.loc[:20, ['科系名稱', '總計']])
    plt.show()

In [15]:
def f2():
    grade = int(input('請輸入想查詢的排名(0: 全年級, 1:一年級, 2:二年級, 3:三年級, 4:四年級): '))
    if grade == 0:
        ntu_df0[:20].plot.bar(x = '科系名稱', y= ['女男比例'])
        display(ntu_df0.loc[:20, ['科系名稱', '女男比例']])
        plt.show()
    elif grade == 1:
        ntu_df1[:20].plot.bar(x = '科系名稱', y= ['一年級女男比例'])
        display(ntu_df1.loc[:20, ['科系名稱', '一年級女男比例']])
        plt.show()
    elif grade == 2:
        ntu_df2[:20].plot.bar(x = '科系名稱', y= ['二年級女男比例'])
        display(ntu_df2.loc[:20, ['科系名稱', '二年級女男比例']])
        plt.show()
    elif grade == 3:
        ntu_df3[:20].plot.bar(x = '科系名稱', y= ['三年級女男比例'])
        display(ntu_df3.loc[:20, ['科系名稱', '三年級女男比例']])
        plt.show()
    elif grade == 4:
        ntu_df4[:20].plot.bar(x = '科系名稱', y= ['四年級女男比例'])
        display(ntu_df4.loc[:20, ['科系名稱', '四年級女男比例']])
        plt.show()
    else:
        print('請輸入合法值')

In [16]:
def f3():
    grade = int(input('請輸入想查詢的排名(0: 全年級, 1:一年級, 2:二年級, 3:三年級, 4:四年級): '))
    if grade == 0:
        ntu_rdf0[:20].plot.bar(x = '科系名稱', y= ['男女比例'])
        display(ntu_rdf0.loc[:20, ['科系名稱', '男女比例']])
        plt.show()
    elif grade == 1:
        ntu_rdf1[:20].plot.bar(x = '科系名稱', y= ['一年級男女比例'])
        display(ntu_rdf1.loc[:20, ['科系名稱', '一年級男女比例']])
        plt.show()
    elif grade == 2:
        ntu_rdf2[:20].plot.bar(x = '科系名稱', y= ['二年級男女比例'])
        display(ntu_rdf2.loc[:20, ['科系名稱', '二年級男女比例']])
        plt.show()
    elif grade == 3:
        ntu_rdf3[:20].plot.bar(x = '科系名稱', y= ['三年級男女比例'])
        display(ntu_rdf3.loc[:20, ['科系名稱', '三年級男女比例']])
        plt.show()
    elif grade == 4:
        ntu_rdf4[:20].plot.bar(x = '科系名稱', y= ['四年級男女比例'])
        display(ntu_rdf4.loc[:20, ['科系名稱', '四年級男女比例']])
        plt.show()
    else:
        print('請輸入合法值')

In [17]:
def f4():
    grade = int(input('請輸入想查詢的排名(0: 全年級, 1:一年級, 2:二年級, 3:三年級, 4:四年級): '))
    if grade == 0:
        ntu_mdf0[:20].plot.bar(x = '科系名稱', y= ['男生計'])
        display(ntu_mdf0.loc[:20, ['科系名稱', '男生計']])
        plt.show()
    elif grade == 1:
        ntu_mdf1[:20].plot.bar(x = '科系名稱', y= ['一年級男生'])
        display(ntu_mdf1.loc[:20, ['科系名稱', '一年級男生']])
        plt.show()
    elif grade == 2:
        ntu_mdf2[:20].plot.bar(x = '科系名稱', y= ['二年級男生'])
        display(ntu_mdf2.loc[:20, ['科系名稱', '二年級男生']])
        plt.show()
    elif grade == 3:
        ntu_mdf3[:20].plot.bar(x = '科系名稱', y= ['三年級男生'])
        display(ntu_mdf3.loc[:20, ['科系名稱', '三年級男生']])
        plt.show()
    elif grade == 4:
        ntu_mdf4[:20].plot.bar(x = '科系名稱', y= ['四年級男生'])
        display(ntu_mdf4.loc[:20, ['科系名稱', '四年級男生']])
        plt.show()
    else:
        print('請輸入合法值')

In [18]:
def f5():
    grade = int(input('請輸入想查詢的排名(0: 全年級, 1:一年級, 2:二年級, 3:三年級, 4:四年級): '))
    if grade == 0:
        ntu_fdf0[:20].plot.bar(x = '科系名稱', y= ['女生計'])
        display(ntu_fdf0.loc[:20, ['科系名稱', '女生計']])
        plt.show()
    elif grade == 1:
        ntu_fdf1[:20].plot.bar(x = '科系名稱', y= ['一年級女生'])
        display(ntu_fdf1.loc[:20, ['科系名稱', '一年級女生']])
        plt.show()
    elif grade == 2:
        ntu_fdf2[:20].plot.bar(x = '科系名稱', y= ['二年級女生'])
        display(ntu_fdf2.loc[:20, ['科系名稱', '二年級女生']])
        plt.show()
    elif grade == 3:
        ntu_fdf3[:20].plot.bar(x = '科系名稱', y= ['三年級女生'])
        display(ntu_fdf3.loc[:20, ['科系名稱', '三年級女生']])
        plt.show()
    elif grade == 4:
        ntu_fdf4[:20].plot.bar(x = '科系名稱', y= ['四年級女生'])
        display(ntu_fdf4.loc[:20, ['科系名稱', '四年級女生']])
        plt.show()
    else:
        print('請輸入合法值')

In [19]:
def f6():
    department = input('請輸入要查詢的系所: ')
    display(ntu_df.loc[ntu_df['科系名稱'] == department,])
    display(ntu2.loc[ntu2['科系名稱'] == department, '男生計':'四年級女生'])

In [21]:
request = int(input('''請輸入你想要做的事(按0離開)
                    (1:全校科系人數前20名, 
                    2:全校科系女男比前20名,3:全校科系男女比前20名,
                    4:全校科系男生人數前20名, 5:全校科系女生人數前20名, 6:查詢科系人數資料):\n '''))
while request != 0:
    if request == 1:
        f1()
    elif request == 2:
        f2()
    elif request == 3:
        f3()
    elif request == 4:
        f4()
    elif request == 5:
        f5()
    elif request == 6:
        f6()
    else:
        print('無效的值')
    request = int(input('''請輸入你想要做的事(按0離開)
                    (1:全校科系人數前20名, 
                    2:全校科系女男比前20名,3:全校科系男女比前20名,
                    4:全校科系男生人數前20名, 5:全校科系女生人數前20名, 6:查詢科系人數資料):\n '''))

請輸入你想要做的事(按0離開)
                    (1:全校科系人數前20名,
                    2:全校科系女男比前20名,3:全校科系男女比前20名,
                    4:全校科系男生人數前20名, 5:全校科系女生人數前20名, 6:查詢科系人數資料):
 6
請輸入要查詢的系所: 工商管理學系

       科系名稱      女男比例   一年級女男比例   二年級女男比例  三年級女男比例   四年級女男比例
385  工商管理學系  1.308108  1.133333  1.414634     1.06  1.676471

       男生計    女生計  一年級男生  一年級女生  二年級男生  二年級女生  三年級男生  三年級女生  四年級男生  四年級女生
385  185.0  242.0   45.0   51.0   41.0   58.0   50.0   53.0   34.0   57.0

請輸入你想要做的事(按0離開)
                    (1:全校科系人數前20名,
                    2:全校科系女男比前20名,3:全校科系男女比前20名,
                    4:全校科系男生人數前20名, 5:全校科系女生人數前20名, 6:查詢科系人數資料):
 0